alembic
blinker
click
colorama
Flask
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
itsdangerous
Jinja2
Mako
MarkupSafe
packaging
SQLAlchemy
typing_extensions
Werkzeug
WTForms
